<div class="main">
    <button class="order-btn" style="float: left" ng-click="order = 'name'">Order By Name</button>
    <button class="order-btn" style="float: right" ng-click=" order = 'contact'">Order By Contact</button>
<table id="remove">
    <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Delete</th>
    </tr>
  <tr></tr>
    <tr ng-repeat="contact in contacts | orderBy:order">
            <td>{{contact.name}}</td>
            <td>{{contact.contact}}</td>
            <td><button class="btn" ng-click="removeContact(contact)">X</button></td>
    </tr>
</table>
</div>