nav{
    position: fixed;
    background-color: darkcyan;
    color: white;
    width: 80%;
    height: 50px;
    margin-left:10%;
    padding: 1rem;
    top:1rem;
}
a{
    color:darkcyan;
    float: right;
    text-decoration: none;
    margin-left: 1rem;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
}
h1{
    display: inline;
}
h3{
    color: darkcyan;
}
.main{
    margin:10% 20%;
    min-height: 500px;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 60px;
    overflow: hidden;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: darkgray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: darkcyan;
  }

  #remove {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #remove td, #remove th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #remove tr:nth-child(even){background-color:white;}
  
  #remove tr:hover {background-color: #ddd;}
  
  #remove th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:   darkcyan;
    color: white;
  }

  .btn{
    border: 2px solid darkgray;
    border-radius: 8px;
    color: red
  }
  .btn:hover{
    border: 2px solid red;
    border-radius: 8px;
  }

  .order-btn{
    border: 2px solid darkgray;
    padding: 8px;
    border-radius: 8px;
    color: black;
    margin-bottom: 10px;
  }
  .order-btn:hover{
    border: 2px solid darkcyan;
    border-radius: 8px;
  }
  main.ng-enter {
    transition:0.3s linear all;
    opacity:0;
  }
  
  /* The finishing CSS styles for the enter animation */
  main.ng-enter.ng-enter-active {
    opacity:1;
  }
  .list.ng-leave{
    transition:0.2s linear all;
    opacity:1;
    transform: translateX(0);
  }
  .list.ng-leave.ng-leave-active{
    opacity:0;
    transform: translateX(-100%);
  }